.landingpage {
  height: auto;
  background-color: rgb(195, 195, 195);
}
.main {
  text-align: center;
  display: flex;
  align-items: center;
  height: 55%;
  margin-top: 3%;
  padding: 10% 5%;
}
.textContent {
  width: 50%;
  text-align: left;
  padding-right: 15%;
}
.name {
  color: #2d2062;
}
.resumeSummary {
  color: #63167c;
  text-align: justify;
}
.imageContent {
  width: 50%;
  align-items: center;
}
.image {
  width: 50%;
  border-radius: 40%;
  margin: 5%;
}
.programmingTitle {
  text-align: center;
}
.programmingLanguage {
  color: #2d2062;
  margin-left: 10%;
  margin-right: 10%;
}
.programmingLogo {
  height: 200px;
  border-top-left-radius: 20%;
  border-bottom-right-radius: 20%;
  padding-bottom: 20%;
}
.proglogo1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
}
.proglogo2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
}
.sokrates {
  display: flex;
  align-items: center;
  margin-bottom: 5%;
}
.sokratesDesc {
  margin-right: 10%;
  text-align: justify;
}
.listLang {
  display: none;
}

@media screen and (max-width: 900px) {
  .landingpage {
    height: auto;
    background-color: rgb(195, 195, 195);
  }
  .main {
    flex-direction: column;
    margin-left: 5%;
  }
  .imageContent {
    width: 100%;
  }
  .textContent {
    width: 100%;
  }
  .sokrates {
    flex-direction: column;
  }
  .sokratesLogo {
    display: none;
  }
  .proglogo1 {
    display: none;
  }
  .proglogo2 {
    display: none;
  }
  .listLang {
    display: contents;
    text-align: center;
  }
}